.homeBody {
    display: flex;
    flex-direction: column;
    gap: 4rem 0rem;
    align-items: center;
    width: 100%;
    height: 94vh;
}

.firstRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.title {
    font-size: 2rem;
}

.websiteDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0rem;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.5rem;
    line-height: 1.75rem;
}

.featureHighlight {
    color: brown;
    font-weight: bold;
}

.secondRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding-top: 3rem;
    padding-bottom: 5rem;
    opacity: 0;
}

.birthdayCarouselParent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: fit-content;
}

.birthdayCarousel {
    display: flex;
    overflow-x: scroll;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
}

.birthdayCarousel::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

.carouselButtonParent {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    right: 50%;
    display: flex;
    gap: 0rem 1rem;
}

.carouselButton {
    min-width: 10px;
    min-height: 10px;
    border-radius: 10px;
}

.carouselButton:hover {
    cursor: pointer;
}

.birthdayCardHeader {
    display: flex;
    gap: 0rem 0.5rem;
    justify-content: space-between;
}

.birthdayCardHeaderImage {
    width: 1.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.portraitAndWorks {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 0rem 0.75rem;
    padding-top: 0.25rem;
}

.portraitAndWorks>img {
    border-radius: 10px;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.recommendedWorks {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    font-size: 1.1rem;
    padding-left: 1px;
    padding-bottom: 0.75rem;
}

.recommendedWorks>span {
    padding-top: 0.1rem;
}

.playButton {
    cursor: pointer;
}

@media (max-width: 1280px) {
    .recommendedWorks {
        font-size: 0.9rem;
    }
}